body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}

.navbar-lg {
  background-color: #566573;
  color: floralwhite;
  overflow: hidden;
}
.carousel {
  background: #512da8;
  border-top: 10px;
  border-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.carousel .carousel-item {
  height: 500px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
}

.footer {
  background-color: #abb2b9;
  margin: 0px auto;
  padding: 10px 10px;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #566573;
  color: floralwhite;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 30px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

@media (min-width: 1320px) {
  .navbar-lg {
    width: 90%;
    margin-left: 70px;
  }
}

.p-footer {
  margin-top: 10px;
  width: 85%;
}

.list-group-item {
  font-size: 0.8rem;
}

h5 {
  font-size: 1rem;
}

.img-thumbnail {
  height: 100px;
  width: 100px;
}
