@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  padding: 3.125rem 0rem 0rem 0rem;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}

.navbar-lg {
  background-color: #566573;
  color: floralwhite;
  overflow: hidden;
}
.carousel {
  background: #512da8;
  border-top: 0.625rem;
  border-bottom: 0.3125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.carousel .carousel-item {
  height: 31.25rem;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 31.25rem;
  width: 100%;
}

.footer {
  background-color: #abb2b9;
  margin: 0px auto;
  padding: 0.3125rem 0.3125rem;
}

.jumbotron {
  margin: 0px auto;
  padding: 4.375rem 1.875rem;
  background: #566573;
  color: floralwhite;
}

.tab-content {
  border-left: 0.0625rem solid #ddd;
  border-right: 0.0625rem solid #ddd;
  border-bottom: 0.0625rem solid #ddd;
  padding: 0.625rem;
  margin-bottom: 1.875rem;
}

.row-header {
  margin: 0rem auto;
  padding: 0rem 0rem;
}

.row-content {
  margin: 0rem auto;
  padding: 3.125rem 0rem;
  border-bottom: 0.0625rem ridge;
  min-height: 25rem;
}

address {
  font-size: 80%;
  margin: 0rem;
  color: #0f0f0f;
}

.list-group-item {
  font-size: 0.8rem;
}

h5 {
  font-size: 1rem;
}

.img-thumbnail {
  height: 6.25rem;
  width: 6.25rem;
}

div.gallery {
  border: 0.0625rem solid #ccc;
}

div.gallery:hover {
  border: 0.0625rem solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 0.9375rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 0.375rem;
  float: left;
  width: 24.99999%;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .responsive {
    width: 49.99999%;
    margin: 0.375rem 0;
  }

  .responsive h3 {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 730px) {
  .carousel .carousel-item {
    height: 18.15rem;
  }
  .carousel .carousel-item img {
    min-height: 18.755rem;
  }
}

@media only screen and (max-width: 770px) {
  .responsive {
    width: 100%;
  }

  .responsive h3 {
    font-size: 0.5rem;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.modal-header {
  background: #512da8;
  color: #fffaf0;
}
.modal-header button {
  color: #fffaf0;
}

.modal-body {
  background: #d1c4e9;
}

#login {
  text-decoration: none;
  font-size: 1.25rem;
}

.list-unstyled a {
  text-decoration: none;
  font-size: medium;
  color: #273746;
}

.responsive h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #566573;
}
